@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  /* color system */
  --color-g1: hsl(0, 0%, 95%);
  --color-g2: hsl(0, 0%, 85%);
  --color-g3: hsl(0, 0%, 70%);
  --color-g4: hsl(0, 0%, 55%);
  --color-g5: hsl(0, 0%, 45%);
  --color-g6: hsl(0, 0%, 30%);
  --color-g7: hsl(0, 0%, 25%);
  --color-g8: hsl(0, 0%, 12%);
  --color-g9: hsl(0, 0%, 5%);

  --color-p-base: 240;
  --color-p9: hsl(240, 95%, 5%);
  --color-p8: hsl(240, 80%, 10%);
  --color-p7: hsl(240, 64%, 23%);
  --color-p6: hsl(240, 60%, 40%);
  --color-p5: hsl(240, 50%, 50%);
  --color-p4: hsl(240, 58%, 58%);
  --color-p3: hsl(240, 72%, 72%);
  --color-p2: hsl(240, 85%, 85%);
  --color-p1: hsl(240, 95%, 95%);

  --shadow-1: 0 1px 3px var(--color-g9);
  --shadow-2: 0 4px 6px var(--color-g9);
  --shadow-3: 0 5px 15px var(--color-g9);
  --shadow-4: 0 10px 24px var(--color-g9);
  --shadow-5: 0 15px 35px var(--color-g9);

  /* font family */
  --font: -apple-system,
    Segoe UI,
    Roboto,
    Noto Sans,
    Ubuntu,
    Cantarell,
    Helvetica Neue;
  --font-mono: 'Roboto Mono', monospace;
  font-family: var(--font);

  /* spacing and sizing system */
  --sz-1: 12px;
  --sz-2: 14px;
  --sz-3: 16px;
  --sz-4: 18px;
  --sz-5: 20px;
  --sz-6: 24px;
  --sz-7: 30px;
  --sz-8: 36px;
  --sz-9: 48px;
  --sz-10: 60px;
  --sz-11: 72px;

  /* font weights */
  --wt-1: 300;
  --wt-2: 400;
  --wt-3: 500;
  --wt-4: 700;
  --wt-5: 900;

  /* line height */
  --lh-1: 1;
  --lh-2: 1.25;
  --lh-3: 1.5;
  --lh-4: 2;
  line-height: var(--lh-2);

  --tiny-1: 1px;
  --tiny-2: 2px;
  --tiny-3: 5px;
  --tiny-4: 7px;

  /* transitions */
  --tr-1: 0.1s;
  --tr-2: 0.2s;
}

body {
  padding: var(--sz-9);
  background: var(--color-g8);
  font-family: var(--font);
  color: var(--color-g1);
  display: grid;
  grid-template-areas:
    "t t r"
    "t t r"
    "a b r";
  grid-gap: var(--sz-9);
}

.terminal {
  padding: var(--sz-1);
  grid-area: t;
  box-shadow: var(--shadow-2);
  background-color: var(--color-g9) !important;
  font-family: var(--font-mono);
}

/******************************
REGISTER PANEL
*******************************/
#registerPanel {
  grid-area: r;
  margin-top: calc(var(--sz-4) * -1);
}

.module-header {
  font-family: var(--font);
  font-weight: var(--wt-3);
  font-size: var(--sz-1);
  letter-spacing: var(--tiny-2);
  text-transform: uppercase;
  color: var(--color-g2);
  text-shadow: var(--shadow-1);
}

.btn-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  box-shadow: var(--shadow-2);
}

.btn-group>button {
  border: none;
  padding: var(--sz-3) 0;
  font-family: var(--font);
  font-size: var(--sz-1);
  line-height: var(--sz-2);
  font-weight: var(--wt-3);
  text-align: center;
  letter-spacing: var(--tiny-1);
  text-transform: uppercase;
  background: var(--color-p5);
  color: var(--color-p3);
}

.btn-group>button:hover {
  color: var(--color-p2);
  transition: var(--tr-1);
}

.btn-group>button.btn-active {
  font-weight: var(--wt-4);
  color: var(--color-p1);
  border-bottom: var(--tiny-2) solid var(--color-p1);
}

ul.register-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: var(--sz-2);
}

li.register-row {
  background: var(--color-g9);
  padding: var(--tiny-4) var(--sz-2);
  box-shadow: var(--shadow-2);
}

li.register-row:first-child {
  padding-top: var(--sz-1);
}

li.register-row:last-child {
  padding-bottom: var(--sz-1);
}

li>span.register-abi {
  margin-left: var(--sz-1);
  color: var(--color-g4);
}

li>span.register-value {
  float: right;
  color: var(--color-p2);
  font-weight: var(--wt-4);
  font-family: var(--font-mono);
}

/* 
*************************
INSTRUCTION PANEL
*************************
*/
#instructionDisplay {
  grid-area: a;
}

text>tspan {
  fill: var(--color-p1);
  text-anchor: middle;
  text-transform: uppercase;
  font-weight: var(--wt-3);
  letter-spacing: var(--tiny-2);
  font-size: var(--sz-1);
}

g>path {
  box-shadow: var(--shadow-5);
}

tspan.inst-pie-percent {
  fill: var(--color-p2);
}

svg.inst-pie {
  background-color: var(--color-g9);
  display: block;
  padding: var(--sz-7) var(--sz-11);
  box-shadow: var(--shadow-2);
}

.inst-pie-slice-0 {
  fill: var(--color-p4);
}

.inst-pie-slice-1 {
  fill: var(--color-p5);
}

.inst-pie-slice-2 {
  fill: var(--color-p6);
}

.inst-pie-slice-3 {
  fill: var(--color-p7);
}

.inst-pie-slice-4>path {
  fill: var(--color-p8);
}
